<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @buddy.name %></h1>
    <p>
      <%= @user.name %> has just added you as a buddy.
    </p>
    <p>
      To sign in to the site and reciprocate, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for using GYm BuddY, and have a great day!</p>
  </body>
</html>