/*
 *= require_self
 *= require_tree .
 */
/*= require foundation.min */

.header-break {
  background-color: #cd4e00;
  width: 100%;
  max-width: 100%;
  height: 120px;
  position: relative;
  top: -20px;
  z-index: -10;
}

.flash-text {
  color: #f9e3a2;
  line-height: 9em;
  text-align: center;
}

.notice, .alert {
  background-color: #cd4e00;
}

.body {
  background-color: #f2a922;
  height: 780px;
  
}

.graphic {
  margin: 0 auto;
  position: relative;
  top: 100px;
}

.signup h2 {
  text-align: center;
}

.signin h2 {
  text-align: center;
}

.profile-header {
   text-align: center;
}

.contact h1 {
  text-align: center;
}

.button_to {
  display: inline-block;
  padding: 10px;
}

.panel {

}

.footer {
  background-color: #9c1705;
  width: 100%;
  max-width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0px;
}

#footer-text {
  text-align: center;
  color: #f9e3a2;
  line-height: 10em;
}
