<div class="row">
  <div class="panel small-4 small-centered columns signin">
    <h2>Availability</h2>
    <%= form_for [@user, @availability] do |f| %>
      <%= f.label :day %>
     <%=  f.select :day, [['Monday', 'Monday'], ['Tuesday', 'Tuesday'], ['Wednesday', 'Wednesday'], ['Thursday', 'Thursday'], ['Friday', 'Friday'], ['Saturday', 'Saturday'], ['Sunday', 'Sunday']] %>
      <%= f.submit %>
    <% end %>
  </div>
</div>